@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template-areas {
    grid-template-areas:
        "sidenav main"
        "now-playing now-playing";
}

.grid-template-areas .content {
    grid-area: main;
}

.grid-template-areas .sidenav {
    grid-area: sidenav;
}

.grid-template-areas .now-playing {
    grid-area: now-playing;
}

.track:hover .track-no,
.track.selected .track-no {
    visibility: hidden;
}

.track:hover .play,
.track.track.selected .play {
    visibility: visible;
}

.track.playing .track-no,
.track.playing .song-title {
    color: theme("colors.green");

}

.banner-grad-pink {
    background: rgb(210, 88, 244);
    background: linear-gradient(180deg, rgba(210, 88, 244, 1) 0%, rgba(18, 17, 18, 0.9196720924698004) 78%, rgba(18, 18, 18, 0.9308765742625175) 100%);
}

.banner-grad-cyan {
    background: rgb(88, 223, 244);
    background: linear-gradient(180deg, rgba(88, 223, 244, 1) 0%, rgba(18, 17, 18, 0.9196720924698004) 78%, rgba(18, 18, 18, 0.9308765742625175) 100%);
}

#volume {
    background: green;
}