@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template-areas {
    grid-template-areas:
        "sidenav main"
        "now-playing now-playing";
}

.grid-template-areas .content {
    grid-area: main;
}

.grid-template-areas .sidenav {
    grid-area: sidenav;
}

.grid-template-areas .now-playing {
    grid-area: now-playing;
}

.track:hover .track-no,
.track.selected .track-no {
    visibility: hidden;
}

.track:hover .play,
.track.track.selected .play {
    visibility: visible;
}

.track.playing .track-no,
.track.playing .song-title {
    color: theme("colors.green");

}

.banner-grad-pink {
    background: rgb(210, 88, 244);
    background: linear-gradient(180deg, rgba(210, 88, 244, 1) 0%, rgba(18, 17, 18, 0.9196720924698004) 78%, rgba(18, 18, 18, 0.9308765742625175) 100%);
}

.banner-grad-cyan {
    background: rgb(88, 223, 244);
    background: linear-gradient(180deg, rgba(88, 223, 244, 1) 0%, rgba(18, 17, 18, 0.9196720924698004) 78%, rgba(18, 18, 18, 0.9308765742625175) 100%);
}

/* ----------------------------------------- */
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: green;
    cursor: pointer;
    width: 100px;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #49e48c;
    border-radius: 0.5rem;
    height: 3px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -6.5px;
    /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}